CONNECTIONSTRING=postgresql://neondb_owner:npg_v9wnoTxm7sVQ@ep-purple-unit-aiaevoxu-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

PORT=5000

JWT_SECRET=f3a8b27c9dfg1e4a5b6c7d8e9f0a1b2c3d4e5fdsg6a7b8c9d0e1f2a3b4fgc5d6e7f8a9b